@import url('https://fonts.googleapis.com/css?family=Puritan&display=swap');

* {
  font-family: 'Puritan', sans-serif;
/*  font-size: 16pt;*/
}


  
body {
  min-width: 350px;
}













/*

h1 {
  font-size: 35pt;
}
h2 {
  font-size: 30pt;
  margin: 15px 0px 15px;
}

.hide-overflow{
  overflow: hidden;
}

.launch-game {
  border: 1px solid black;
}

.launch-game:hover {
  background-color: black;
}
.launch-game:hover > #launch{
  color: white;
}


/* For the Footer */

#footer {
  background-color:rgb(244,243,243);
  padding-top:20px;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    color:black;
}

#footer a {
    line-height: 14px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#footer a:hover,
#footer a:focus {
    font-weight: bold;
    text-decoration: none;
}*/