<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>
      Choose Collection
    </title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Puritan&display=swap');

      * {
      font-family: 'Puritan';
        font-size: 16pt;
      }
      h1 {
        font-size: 35pt;
      }
      h2 {
        font-size: 30pt;
      }
      .hide-overflow{
        overflow: hidden;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
          <button type="button" class="btn" onclick="location.href='/';">
            <span class="glyphicon glyphicon-home"></span>
            <h5>Go<br>Home</h5>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <h2 class="text-center" style="text-transform: capitalize;">Choose Collection</h2>
          <br/>
          <div class="panel-group" id="accordion">
          {% for i in iterable %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <!-- data-toggle="collapse" data-parent="#accordion" -->
                  <a href="/game/{{list[i]}}" style="text-transform: capitalize;">
                  {{ list[i] }}</a> <!-- #collapse{{i}} -->
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <!-- <div class="panel-body"></div> -->
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
  <script></script>
</html>
