<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>
      Collection Info
    </title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Puritan&display=swap');

      * {
        font-family: 'Puritan', sans-serif;
        font-size: 16pt;
      }

      h1 {
        font-size: 35pt;
      }

      h2 {
        font-size: 30pt;
      }

      h3 {
        font-size: 20pt;
        margin: 15px 0px 15px;
      }

      .hide-overflow{
        overflow: hidden;
      }
      .border {
        border: 1px solid black;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
          <button type="button" class="btn" onclick="location.href='/';">
            <span class="glyphicon glyphicon-home"></span>
            <!-- <h5> Go<br>Home</h5> -->
          </button>
          <button type="button" class="btn"
                  onclick="location.href='/choose-collection';">
            <span class="glyphicon glyphicon-list-alt"></span>
            <!-- <h5>Choose<br/>Collection</h5> -->
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h2 class="text-center" style="text-transform: capitalize;">
            The {{ collection }} Collection
          </h2>
          <br/>
          <p class="text-center">{{ description }}</p>
          <br/>
          <div class="row">
            <div class="col-sm-6" style="padding:15px">
              <button type="button" class="btn border center-block"
                      onclick="location.href='/game/{{ collection }}/0'">
                <h3>Start Collection</h3>
              </button>
            </div>
            <div class="col-sm-6" style="padding:15px">
              <button type="button" class="btn border center-block"
                      onclick="location.href='/game/{{ collection }}'">
                <h3>Random Quadegory</h3>
              </button>
            </div>
          </div>
          <br/>
          <div class="form-group center-block" style="width:230px">
            Jump To
            <input id="jump" size="7" placeholder=" 0 - {{ max }}">
            <button type="button" class="btn border" onclick="jumpTo()">
              <span class="glyphicon glyphicon glyphicon-play"></span>
            </button>
          </div>
          <br/>
          <div style="max-width:610px" class="center-block">
            {% for i in range(max + 1) %}
              <button type="button" class="btn border"
                      style="width:50px; margin-bottom:5.5px;"
                      onclick="location.href='/game/{{ collection }}/{{ i }}'">
                {{ i }}
              </button>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </body>
  <script>

    function jumpTo() {
      var number = document.getElementById('jump').value;
      if (number === '') {
        number = '0'
      }
      if (+number > {{ max }}) {
        window.alert('Not a valid Quadegory in the {{ collection }} collection. Try a number between 0 and {{ max }}.');
        return null;
      }
      if (isNaN(number)) {
        window.alert('Please only enter a number between 0 and {{ max }}.');
        return null;
      }
      location.href='/game/{{ collection }}/' + number;
    }


  </script>
</html>
