<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>
      Play Quadegories!
    </title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn" onclick="location.href='/';">
            <span class="glyphicon glyphicon-home"></span>
            <h5>Home</h5>
          </button>
          <button type="button" class="btn" onclick="location.href='/play';">
            <span class="glyphicon glyphicon-refresh"></span>
            <h5>New Quadegory</h5>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <br/>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1" id="title"
                     style="font-size: 20pt;">
                    Quadegory
                  </a>
                </h1>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body" style="font-size:20pt" id="quad"></div>
                <div class="panel-footer" style="font-size:12pt" id="fact"></div>
              </div>
            </div>
          </div>
          <br/>
          <div class="btn-group-vertical center-block">
            <button type="button" class="btn clue" id="clue4"
                    onclick="this.innerHTML='{{clue4}}'; this.disabled=true;
                    document.getElementById('clue3').disabled=false;
                    document.getElementById('clue3').innerHTML =
                    '&gt;&gt;&nbsp; Clue #3 &nbsp;&lt;&lt;'">
                    &gt;&gt;&nbsp; Clue #4 &nbsp;&lt;&lt;</button>

            <button type="button" class="btn clue" id="clue3"
                    onclick="this.innerHTML='{{clue3}}'; this.disabled=true;
                    document.getElementById('clue2').disabled=false;
                    document.getElementById('clue2').innerHTML =
                    '&gt;&gt;&nbsp; Clue #2 &nbsp;&lt;&lt;'"
                    disabled="true">Clue #3</button>

            <button type="button" class="btn clue" id="clue2"
                    onclick="this.innerHTML='{{clue2}}'; this.disabled=true;
                    document.getElementById('clue1').disabled=false;
                    document.getElementById('clue1').innerHTML =
                    '&gt;&gt;&nbsp; Clue #1 &nbsp;&lt;&lt;'"
                    disabled="true">Clue #2</button>

            <button type="button" class="btn clue" id="clue1"
                    onclick="this.innerHTML='{{clue1}}'; this.disabled=true;"
                    disabled="true">Clue #1</button>
           </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </body>
  <script>
    document.getElementById('quad').innerHTML = '<h2>' + '{{quad}}'.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#34/g,"\"").replace("&quot;","") + '</h2>';
    document.getElementById('fact').innerHTML = '<p>' + '{{fact}}'.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#34/g,"\"").replace("&quot;","") + '</p>';
  </script>
</html>
