<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link href="favicon.ico" rel="icon" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="../static/css/styles.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>
      Play Quadagories!
    </title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <button type="button" class="btn" onclick="location.href='/';">
            <span class="glyphicon glyphicon-home"></span> Home
          </button>
        </div>
        <div class="col-sm-9">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn" onclick="location.href='/game';">
            New Quadegory <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div>
            <h1>{{quad}}</h1>
            <h4>{{fact}}</h4>
          </div>
          <br/>
          <div class="btn-group-vertical center-block">
            <input type="button" class="btn clue" value="Clue #4"
                   onclick="this.value='4. {{clue4}}'; this.disabled=true;"></input>
            <input type="button" class="btn clue" value="Clue #3"
                    onclick="this.value='3. {{clue3}}'; this.disabled=true;"></input>
            <input type="button" class="btn clue" value="Clue #2"
                   onclick="this.value='2. {{clue2}}'; this.disabled=true;"></input>
            <input type="button" class="btn clue" value="Clue #1"
                   onclick="this.value='1. {{clue1}}'; this.disabled=true;"></input>
           </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </body>
</html>
