<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>
      Quadegories!
    </title>
    <style>

      * {
        font-size: 16pt;
      }

      h1 {
        font-size: 35pt;
      }
      h2 {
        font-size: 30pt;
      }

      .hide-overflow{
        overflow: hidden;
      }

      .launch-game {
        border: 1px solid black;
      }

      .launch-game:hover {
        background-color: black;
      }
      .launch-game:hover > #launch{
        color: white;
      }


      /* For the Footer */

      #footer {
        background-color:rgb(244,243,243);
        padding-top:20px;
      }

      #footer ul {
          list-style-type: none;
          padding-left: 0;
          line-height: 1.7;
      }

      #footer h5 {
          font-size: 18px;
          font-weight: bold;
          margin-top: 30px;
          color:black;
      }

      #footer a {
          line-height: 14px;
          text-decoration: none;
          color: black;
          font-size: 12px;
      }

      #footer a:hover,
      #footer a:focus {
          font-weight: bold;
          text-decoration: none;
      }


    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="jumbotron hide-overflow">
            <h1 class="text-center">Play Quadegories!</h1>
          </div>
          <button type="button" class="btn launch-game center-block"
                  onclick="location.href='/choose-category';">
            <h2 class="text-center" id="launch">Launch Game</h2>
          </button>
          <br/>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                     href="#collapse1">
                  Why should I play Quadegories?</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                    First of all, it’s fun.<br>
                    Quadegories exercises the brain’s <i>executive function</i>
                    making it a valuable learning tool for teenagers and adults.

                    Executive function allows us to:
                    <ul>
                      <li>Make plans</li>
                      <li>Stay on task</li>
                      <li>Keep track of more than one thing at once</li>
                      <li>Reference past knowledge</li>
                      <li>Evaluate ideas</li>
                      <li>Change our minds</li>
                      <li>Finish work on time</li>
                    </ul>

                    Find yourself forgetful? Absent minded? Unable to make the
                    kinds of connections you’d easily make before?<br/><br/>

                    <center><strong>You need Quadegories!</strong></center><br/>

                    It’s like going to the gym for your brain!
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                     href="#collapse2">
                  How to Play</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                  <strong>GAME DIRECTIONS:</strong> Either designate one player
                  as the reader/facilitator or have players rotate serving as
                  reader/facilitator each round.<br/><br/>

                  Each round, the reader gets a new set of four clues, and reads
                  each, one at a time, (it is recommended to show counting on
                  your hand at five second intervals), until one player
                  either guesses correctly (winning a point) or is eliminated
                  from that round by providing an incorrect answer.<br/><br/>

                  To any guess there are only three possible responses the
                  reader/facilitator can give: CORRECT, INCORRECT or BE MORE
                  SPECIFIC. In the latter event, the player will be provided a
                  (one time only) additional five seconds to improve the
                  accuracy of the answer and either win the Quadegory or be
                  eliminated from that round.<br/><br/>

                  <strong>OBJECTIVE:</strong> To gain as many points as possible
                  or achieve a predetermined winning score.

                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                     href="#collapse3">
                  How Quadegories Works</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Quadegories can be played alone, with others, or in teams.
                    <br/>
                    The goal is to guess the `common denominator' in a list of
                    four items.<br/>

                    For example, for clues,
                    <ol reversed>
                      <li> Nautilus
                      <li> Cockle
                      <li> Cawrie
                      <li> Conch
                    </ol>

                    the Quadegory is <strong>Shells</strong>.<br/><br/>

                    At any time during each round, players still in the game
                    may make ONE attempt at the correct answer. A player
                    receives the number of points corresponding to the clue
                    that is given directly before the correct guess. An
                    incorrect answer results in zero points and elimination
                    from the round.
                    <br/><br/>

                    After each Quadegory, the reader may read the interesting
                    fact that is below the Quadegory about a topic related to
                    that round.
                  </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>


      <br>

    </div>
    <div class="container-fluid" id="footer">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <img src={{ url_for('static', filename='logo.png') }}
               style="width:100px;padding-top:45px;"/>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <h5>More Information</h5>
          <ul>
            <li>
              <a href="https://github.com/francisp336/play-quadegories" target="_blank">
                GitHub Repository
              </a>
            </li>
            <li>
              <a href="http://www.lulu.com/shop/brook-zelcer/quadegories/paperback/product-23884928.html" target="_blank">
                Buy the Book!
              </a>
            </li>
            <li>
              <a href="#">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-top:30px;">
          <p class="text-center" style="font-size:10px">&copy; 2019</p>
        </div>
      </div>
    </div>
  </body>
</html>
