<!DOCTYPE html>
<html>
  <head>
<!--     <link href="favicon.ico" rel="icon" type="image/x-icon"> -->
    <link crossorigin="anonymous" href=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity=
    "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
      Play Quadagories!
    </title>
   
  </head>
  <body>
    <div id="container">
      
      <br>

    </div>
  </body>
</html>
