
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 30pt;
}
* {
  font-size: 16pt;
}
.launch-game {
  border: 1px solid black;
}

.launch-game:hover {
  background-color: black;
}
.launch-game:hover + #launch{
  color: white;
}
